@font-face {
  font-display: auto;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 100;
  src: url('https://with-cors-1.vercel.app/fonts/RadomirTinkov-Gilroy-Thin.otf')
    format('opentype');
}

@font-face {
  font-display: auto;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 200;
  src: url('https://with-cors-1.vercel.app/fonts/RadomirTinkov-Gilroy-UltraLight.otf')
    format('opentype');
}

@font-face {
  font-display: auto;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: url('https://with-cors-1.vercel.app/fonts/RadomirTinkov-Gilroy-Light.otf')
    format('opentype');
}

@font-face {
  font-display: auto;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  src: url('https://with-cors-1.vercel.app/fonts/RadomirTinkov-Gilroy-Regular.otf')
    format('opentype');
}

@font-face {
  font-display: auto;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  src: url('https://with-cors-1.vercel.app/fonts/RadomirTinkov-Gilroy-Medium.otf')
    format('opentype');
}

@font-face {
  font-display: auto;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  src: url('https://with-cors-1.vercel.app/fonts/RadomirTinkov-Gilroy-SemiBold.otf')
    format('opentype');
}

@font-face {
  font-display: auto;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  src: url('https://with-cors-1.vercel.app/fonts/RadomirTinkov-Gilroy-Bold.otf')
    format('opentype');
}

@font-face {
  font-display: auto;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: url('https://with-cors-1.vercel.app/fonts/RadomirTinkov-Gilroy-ExtraBold.otf')
    format('opentype');
}

@font-face {
  font-display: auto;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 900;
  src: url('https://with-cors-1.vercel.app/fonts/RadomirTinkov-Gilroy-Black.otf')
    format('opentype');
}

@font-face {
  font-display: auto;
  font-family: 'Gilroy';
  font-style: italic;
  font-weight: 100;
  src: url('https://with-cors-1.vercel.app/fonts/RadomirTinkov-Gilroy-ThinItalic.otf')
    format('opentype');
}

@font-face {
  font-display: auto;
  font-family: 'Gilroy';
  font-style: italic;
  font-weight: 200;
  src: url('https://with-cors-1.vercel.app/fonts/RadomirTinkov-Gilroy-UltraLightItalic.otf')
    format('opentype');
}

@font-face {
  font-display: auto;
  font-family: 'Gilroy';
  font-style: italic;
  font-weight: 300;
  src: url('https://with-cors-1.vercel.app/fonts/RadomirTinkov-Gilroy-LightItalic.otf')
    format('opentype');
}

@font-face {
  font-display: auto;
  font-family: 'Gilroy';
  font-style: italic;
  font-weight: 400;
  src: url('https://with-cors-1.vercel.app/fonts/RadomirTinkov-Gilroy-RegularItalic.otf')
    format('opentype');
}

@font-face {
  font-display: auto;
  font-family: 'Gilroy';
  font-style: italic;
  font-weight: 500;
  src: url('https://with-cors-1.vercel.app/fonts/RadomirTinkov-Gilroy-MediumItalic.otf')
    format('opentype');
}

@font-face {
  font-display: auto;
  font-family: 'Gilroy';
  font-style: italic;
  font-weight: 600;
  src: url('https://with-cors-1.vercel.app/fonts/RadomirTinkov-Gilroy-SemiBoldItalic.otf')
    format('opentype');
}

@font-face {
  font-display: auto;
  font-family: 'Gilroy';
  font-style: italic;
  font-weight: 700;
  src: url('https://with-cors-1.vercel.app/fonts/RadomirTinkov-Gilroy-BoldItalic.otf')
    format('opentype');
}

@font-face {
  font-display: auto;
  font-family: 'Gilroy';
  font-style: italic;
  font-weight: 800;
  src: url('https://with-cors-1.vercel.app/fonts/RadomirTinkov-Gilroy-ExtraBoldItalic.otf')
    format('opentype');
}

@font-face {
  font-display: auto;
  font-family: 'Gilroy';
  font-style: italic;
  font-weight: 900;
  src: url('https://with-cors-1.vercel.app/fonts/RadomirTinkov-Gilroy-BlackItalic.otf')
    format('opentype');
}
